body {
    background-color: #BEDEF4;
    border-top: solid;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}


h1 {
    font-family: 'Irish Grover', cursive;
    font-size: 40px;
    text-align: center;
    background-color: #FEE1E8;
    border-top: solid;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-radius: 8px;
}

p {
    font-size: 24px;
    text-align: center;
    font-size: 18px;
    background-color: white;
    border-top: solid;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-radius: 5px;
    padding: 10px;
    
}
