body {
    background-color: #BCD5ED;
    
   
}

h1 {
    position: absolute;
    width: 1253px;
    height: 60px;
    left: 15%;
    right: 20%;
    top: -10px;

    font-family: 'Irish Grover', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 115px;

    text-align: center;
    font-feature-settings: 'ordn' on;
    color: #FFFFFF;
    text-shadow: 0 0 20px #C978A4, 0 0 20px #C978A4;

   
    
}

button {
    font-family: 'Irish Grover', cursive;
    font-size: 100px;
    text-align: center;
    background-color: #BCD5ED;
    width: 520px;
    height: 126px;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: 4px solid #96AABE;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 35%;
    right: 80%;
    text-shadow: 0 0 11px #96AABE, 0 0 11px #96AABE;
    justify-content: center;
    border: 12px solid #FFFFFF;
    box-shadow: 8px 8px 4px 1px #98AFD1;
    border-radius: 12px;
}



#cat1 {
    position: absolute;
    left: 100px;
    right: 300px;
    top: 200px;
    bottom: 10px;
}

#cat2 {
    position: absolute;
    left: 1300px;
    right: 300px;
    top: 250px;
    bottom: 100px;
}

#cat3 {
    position: absolute;
    left: 120px;
    right: 300px;
    top: 500px;
    bottom: 100px;
}

#cat4 {
    position: absolute;
    left: 1100px;
    right: 300px;
    top: 800px;
    bottom: 100px;
}

#cat5 {
    position: absolute;
    left: 1100px;
    right: 300px;
    top: 600px;
    bottom: 100px;
}