h1 {
    background: #FEE1E8;
    margin-left: 9%;
    padding: 5px;
    margin-right: 9%;
    text-align: center;
    align-items: center;
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    border-radius:  10px;
    border:3px solid #000000;

}

p {
    top: 140px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border-radius:  10px;
    border:3px solid #000000;
    margin-left: 9%;
    margin-right: 9%;
    padding: 30px;
    padding-left: 8%;
    padding-right: 8%;
    color: #000000;
    background-color: #FFFFFF;
}

#box1 {
    box-sizing: border-box;
    align-items: center;
    position:absolute;
    left: 1%;
    right: 1%;
    height: auto;
    top: 20px;
    background: linear-gradient(0deg, rgba(188, 213, 237, 0.35), rgba(188, 213, 237, 0.35)), #FFFFFF;
    border: 3px solid #000000;
    border-radius: 10px;
}



/* Rectangle 10 */

box-sizing: border-box;

position: absolute;
width: 1148px;
height: 757px;
left: 146px;
top: 218px;

background: #FFFFFF;
border: 3px solid #1E1E1E;
border-radius: 10px;


/* Rectangle 1 */

position: absolute;
width: 1148px;
height: 128px;
left: 147px;
top: calc(50% - 128px/2 - 384px);

background: #FEE1E8;
border-radius: 10px;


/* You are a LOYALIST ! */

position: absolute;
width: 334px;
height: 87px;
left: 552px;
top: 85px;

font-family: 'Irish Grover';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* The Loyalist personality type is characterized by unparalleled trustworthiness and dependability. They possess a strong sense of accountability and rational thinking, making them reliable, hardworking, and responsible individuals. Exceptional troubleshooters, they can anticipate problems and promote cooperation within groups. However, they may display defensiveness, evasiveness, and anxiety in challenging situations due to carrying the burden of stress while voicing their concerns. Their cautious and sometimes indecisive nature contrasts with occasional tendencies to be reactive, defiant, and rebellious. At their best, Loyalists achieve internal stability and self-reliance, fearlessly advocating for both themselves and others. They take on the role of a reliable anchor in the lives of their friends and family, with a strong commitment to following through on their word and ensuring the well-being of those they care about. */



